<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <link name="camera_link">
    <visual>
      <origin xyz="0.04 -0.0015 0.0135" rpy="${-pi/2} ${pi} ${-pi/2}"/>
        <geometry>
          <mesh filename="package://akabot_description/meshes/d415.dae"/>
        </geometry>
    </visual>
    <collision>
      <origin xyz="0.04 -0.0015 0.0135" rpy="${-pi/2} ${pi} ${-pi/2}"/>
        <geometry>
          <mesh filename="package://akabot_description/meshes/d415.dae"/>
     
        </geometry>
    </collision>
  </link>

  <joint name="camera_joint" type="fixed">
    <parent link="base_plate"/>
    <child link="camera_link"/>
    <origin xyz="0.0205 0 0.00425" rpy="0 0 0"/> 
  </joint>

  <link name="camera_link_optical"></link>

  <joint name="camera_optical_joint" type="fixed">
    <parent link="camera_link"/>
    <child link="camera_link_optical"/>
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
  </joint>

  <xacro:property name="deg_to_rad" value="0.01745329252" />

  <gazebo reference="camera_link">
    <sensor name="camera" type="depth_camera">
      <camera>
        <horizontal_fov>${69.4*deg_to_rad}</horizontal_fov>
        <image>
          <format>R8G8B8</format>
          <width>640</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.05</near>
          <far>8.0</far>
        </clip>
      </camera>
      <update_rate>10</update_rate>
      <visualize>true</visualize>
      </sensor>
  </gazebo>
  
  </robot>